/* start variables */
:root{
  --main-color: #10cab7
}
/* end variables */
/* global ruls  */
body{
    font-family:"Work Sans", sans-serif;
}
html{
  scroll-behavior: smooth;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  /* mob  */
  @media (max-width:790px){
    .about .about-content .info{
      min-width: 300px;
    }
  }
  @media (max-width:1190px)
  {
    .services .container .services-content .service{
      text-align: center;
    }
    .services .container .services-content img{
      display: none;
    }
    .services .container .services-content:last-child .image::after{
      display: none;
    }
  }
  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
    
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
    

  }
  /* end global ruls  */
  /* start   framwork */
  .special-heading{
    color: #ebeced;
    font-weight: 800;
    font-size: 100px;
    margin: 0px;
    text-align: center;
    letter-spacing: -3px;
  }
  .special-heading + p{
    text-align: center;
    margin: -30px 0px;
    font-size: 16px;
    font-weight: 400;
    color: #797979;
}
  /* end framwork */

/* header */
.header{
    padding:10px;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo{
    width: 50px;
}
.header .links {
    position: relative;
  }
  .header .links:hover .icon span:nth-child(2) {
    width: 100%;
  }
  .header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .header .links .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
  }
  .header .links .icon span:first-child {
    width: 100%;
  }
  .header .links .icon span:nth-child(2) {
    width: 60%;
    transition: 0.5s;
  }
  .header .links .icon span:last-child {
    width: 100%;
  }

  .header .links ul{
    list-style: none;
    background-color: #F6F6F6;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 0;
    top: 25px;
    min-width: 200px;
    display:none;
    z-index: 1;

}
.header .links ul li a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}
.header .links ul li a:hover{
    padding: 25px;
}
.header .links ul li:not(:last-child){
    border-bottom: 1px solid #ddd;
}
  
  .header .links ul::before{
      content:"";
      border-width:10px;
      border-style: solid;
      border-color: transparent transparent #eee transparent;
      position: absolute;
      right: 0px;
      top: -20px;
    }
    .header .links:hover ul{
        display: block;
    }
  
    /* section 1 (landing) */
    .landing{
      background-image: url(../images/war.jpg);
    background-size: cover;
    height: calc(100vh - 41px);
    position: relative;
    }

    .landing .intro-text{
      position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    }
    .landing .intro-text h1{
      margin: 0;
      color: var(--main-color);
      font-size: 50px;
      font-weight: bold;
    }
    .landing .intro-text p{
      font-size: 19px;
      line-height: 1.8;
      width: 320px;
    max-width: 100%;
    }

    /* start section 2 (features)  */
    .features{
      padding: 60px 0px;
      background-color: #F6F6F6;
    }
.features .container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  gap: 20px;
}
.features .container .feat{
  padding: 20px;
  text-align: center;
}
.features .container .feat i{
  color:var(--main-color);
}
.features .container .feat p{
  line-height: 35px;
  color: #777777ab;
  font-size: 17px;
}

/* section 3 (services) */
.services{
  padding: 60px 0px;
}
.services .container .services-content{
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
  gap: 20px;
  margin-top: 90px;
  justify-content: center;
}
.services .container .services-content:last-child .image{
  position: relative;
}
.services .container .services-content:last-child .image::after{
    content: "";
    width: 95px;
    height: 400px;
    position: absolute;
    background-color: aquamarine;
    right: 34px;
    top: -50px;
    z-index: -1;
}
.services .container .services-content:last-child{
  width: 100%;
}


.services .container .services-content .col i{
  color:var(--main-color);
}
/* end services  */

/* start section 4 (portfolio)  */
.portfolio {
  padding:60px 0px;
  background-color: #F6F6F6;
}
.portfolio .portfolio-content{
   display:grid;
  grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
  gap: 20px;
  margin-top: 90px; 
}
.portfolio .portfolio-content:not(:nth-child(2)) img{
  max-width: 300px;
  height: 300px;
}
.portfolio .portfolio-content .sec-img{
width:400px;
}
.portfolio .portfolio-content .card .info{
  background-color: white;
  text-align: center;
    max-width: 300px;
    padding: 0;;
}
.portfolio .portfolio-content .card .info h3{
  margin: 0;
}

/* start section 5 (about)  */
.about {
  padding:60px 0px;
}
.about .about-content{
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about .about-content .image{
  position: relative;
  width: 250px;
  height: 375;
}
.about .about-content .image img{
  max-width: 100%;
}
.about .about-content .image::before{
  content: '';
    background-color: #f6f6f6;
    width: 100px;
    height: calc(100% + 80px);
    position: absolute;
    top: -40px;
    left: -20px;
    z-index: -1;
}
.about .about-content .image::after{
  content: '';
  position: absolute;
  width: 120px;
  height: calc(100% - 80px);
  border-bottom: 80px solid var(--main-color);
  border-left: 80px solid var(--main-color);
  right: -140px;
  top: -40px;
  z-index: -1;
}
.about .about-content .info{
  flex-basis: calc(100% - 525px);
}
.about .about-content .info p:first-child{
  font-weight: bold;
    word-spacing: 4px;
    font-size: 16px;
  
}
.about .about-content .info hr{
  height: 1px;
    background-color: var(--main-color);
    width: 50%;
    
}
.about .about-content .info p:last-child{
    word-spacing: 4px;
    font-size: 16px;
    color: #777777ab;
}
/* footer  */
.footer{
  background-color: #2c4755;
  margin: 0px;
  height: 80px;
}
.footer p{
  padding: 25px;
  text-align: center;
  color:white;
}
.footer span{
  color: var(--main-color);
}